extends ./shared/_layout

block content
    .container
        .row
            .col-sm-12.col-md-10.col-md-offset-1
                table.table.table-hover
                    thead
                        tr
                            th#dataTrip=date
                            th Shopper
                            th Product
                            th Quantity
                            th.text-center Price
                            th.text-center Total
                            th  
                    tbody#bodyTable
                        if products && products.length > 0
                            each product in products
                                tr.productsInformation
                                    td.shopper.col-sm-1.col-md-1(style='text-align: center')
                                        strong(data-id=product.shopperId, data-userId=product.userId, data-tripId=product.tripId)= product.shopper
                                    td.productInBasket.col-sm-8.col-md-6('data-key'=product.key)
                                        h3.product.media-heading=product.name
                                    td.col-sm-1.col-md-1(style='text-align: center')
                                        btn.minus.alert --
                                        btn.plus.glyphicon-resize-small ++
                                        input.quantity.form-control(type='text', value=product.quantity onchange="quantityChange(this")
                                    td.productPrice.col-sm-1.col-md-1.text-center
                                        strong=product.price
                                    td.calculateTotal.col-sm-1.col-md-1.text-center
                                        strong=product.total
                                    td.col-sm-1.col-md-1
                                        button.removeProduct.btn.btn-danger(type='button')
                                            |  Remove
                            tr
                                td   
                                td   
                                td   
                                td
                                    h3 Total
                                td.text-right
                                    h3
                                        strong#TotalBasket(maxlength="2") $31.53
                            tr
                                td   
                                td   
                                td   
                                td
                                    a#ContinueShop.btn.btn-default(href='tripshops/' + tripId)
                                        span.glyphicon.glyphicon-shopping-cart
                                        |  Continue Shopping
                                td
                                    button#checkBasket.btn.btn-success(type='submit')
                                        | Checkout
                                        span.glyphicon.glyphicon-play
                        else
                            h2 #{user.username}
                            h3 There are no products in your basket, so start shopping
                            span
                                a(href='/tripshops/findTripshop') Find your shopper

block additionalBottomScripts
    script(src="/public/js/actionsWithBasket.js")
