extends ./shared/_layout

block scripts
    link(rel='stylesheet', href='/public/css/profile/profile.css')

block content
    #profileContainer.container
        .row#headerUsername
            .col-md-12
                h2.text-center #{user.username}
        .row
            .col-md-6.text-right
                h4 Address:
                h4 #{user.address}
            .col-md-6.text-left
                h4 E-mail:
                h4 #{user.email}
        if !user.isProUser
            .row#headerUsername
                .col-md-12
                    h3.text-center Orders
            .row#ordersContainer
                .col-md-6.text-right
                    if user.baskets && user.baskets.length > 0
                        each item in user.baskets
                            h4 You order to #{item.shopperName} the following products:
                            each basket in item.basket
                                h5 #{basket.product}: #{basket.quantity}
                    else
                        h4 You don't have any assigned baskets to somebody else tripshops!
                .col-md-6.text-left
                    if user.tripshops && user.tripshops.length > 0
                        each trip in user.tripshops
                            if user.BuyersBaskets && user.BuyersBaskets.length > 0
                                #bayerBasket
                                    h4 On #{trip.date} you have to buy from #{trip.shop.name}
                                        each item in user.BuyersBaskets
                                            h5#buyerUsername To #{item.buyer.username}
                                            each product in item.basket
                                                if product.tripId = trip._id
                                                    h5 #{product.product}: #{product.quantity}
                            else
                                h4 Still don't have assigned baskets to your tripshops!
                    else
                        h4 You don't have any registered tripshops!
        else
            .row
                .col-md-6.text-right
                    if user.shops && user.shops.length > 0
                        h4 You have #{user.shops.length} registered shops!
                    else
                        h4 You don't have any registered shops!