extends ./shared/_layout

block content
    h1 Hello #{user.username}
    div
        p #{user.address}
        p #{user.email}
        p #{user.isProUser}
    if user.tripshops
        each trip in user.tripshops
            if user.BuyersBaskets
                div Your Commands To buy
                    h4=trip.date
                    each item in user.BuyersBaskets
                        each product in item.basket

                            if product.tripId == trip._id
                                h5= product.product
                                    | --->
                                    span=product.quantity
            else
                h5 No commands fot the trip
    if user.baskets
        div Your Commands
            each item in user.baskets
                h3 Basket
                    each product in item
                        h5= product.product
                        | --->
                        span=product.quantity
    else
        h3 You have no commands right now!

